{% extends 'base.html.twig' %}

{% block title %}Movimiento index{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        
        <div>
            Visibles: 
            <a class="toggle-vis" role="button" data-column="5">Columnas ocultables</a> -
   
        </div>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(-159px, 19px, 0px); top: 0px; left: 0px; will-change: transform;">
                <div class="dropdown-header">Acciones</div>
                    <!--a class="dropdown-item" href=" ">+ Orden</a-->
                <div class="dropdown-divider"></div>
                    <!--a class="dropdown-item" id="filtroFechaButton">Filtrar por fecha</a-->
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="tabla_movimientos" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>lote</th>
                    <th>vin</th>
                    <th>Grua</th>
                    <th>FechaContrato</th>
                    <th>FechaRecogida</th>
                    <th>FechaEntrega</th>
                    <th>Finalizado</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.id }}</td>
                    <td>{{ movimiento.envio.detalleCompra.lote }} : <a href="{{ path('envio_show', {'id': movimiento.envio.id }) }}">Ver auto</a></td>
                    <td>{{ movimiento.envio.detalleCompra.vin }} </td>
                    <td>{{ movimiento.grua }}</td>
                    <td>{{ movimiento.fechaContrato ? movimiento.fechaContrato|date('Y-m-d') : '' }}</td>
                    <td>{{ movimiento.fechaRecogida ? movimiento.fechaRecogida|date('Y-m-d') : '' }}</td>
                    <td>{{ movimiento.fechaEntrega ? movimiento.fechaEntrega|date('Y-m-d') : '' }}</td>
                    <td>{{ movimiento.estado }}</td>
                    <td>
                        <a href="{{ path('movimiento_show', {'id': movimiento.id}) }}">show</a>
                        <a href="{{ path('movimiento_edit', {'id': movimiento.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div>
</div>
    
{% endblock %}

{% block js_general %}
    <script src="{{ asset('js/general.js')}}"> </script>
{% endblock %}


