{% extends 'base.html.twig' %}

{% block title %}CtlTipoContacto index{% endblock %}

{% block body %}
    <table class="table" id="tabla_">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctl_tipo_contacto in ctl_tipo_contactos %}
            <tr>
                <td>{{ ctl_tipo_contacto.id }}</td>
                <td>{{ ctl_tipo_contacto.nombre }}</td>
                <td>
                    <a href="{{ path('ctl_tipo_contacto_show', {'id': ctl_tipo_contacto.id}) }}">show</a>
                    <a href="{{ path('ctl_tipo_contacto_edit', {'id': ctl_tipo_contacto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ctl_tipo_contacto_new') }}"><i class="fa fa-plus" style="font-size:36px"></i></a>
{% endblock %}
{% block js_general %}
    <script src="{{ asset('js/general.js') }}" ></script>
{% endblock %}
