{% extends 'base.html.twig' %}

{% block title %}PromoEstablecimiento{% endblock %}

{% block body %}
    <h1>PromoEstablecimiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promo_establecimiento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ promo_establecimiento.nombre }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ promo_establecimiento.activo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('promo_establecimiento_index') }}">back to list</a>

    <a href="{{ path('promo_establecimiento_edit', {'id': promo_establecimiento.id}) }}">edit</a>

    {{ include('promo_establecimiento/_delete_form.html.twig') }}
{% endblock %}
