    
    
    <div class="row">
        {% if mensajes['0']!="" %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ mensajes[0] }}</strong>
            </div>
        {% endif %}
        {% if mensajes['1'] !="" %}
            <div class="alert alert-success" role="alert">
                <strong>{{ mensajes[1] }}</strong>  : 
                <a id="editarCheque" href="{{ path('cheque_edit', {'cheque': cheque.id}) }}">Editar</a> /
                <a id="nuevoCheque" href="{{ path('cheque_new') }}">Nuevo cheque</a>
            </div>
        {% endif %}
    </div>


    <div>
        <div class="row">
            <div class="col-md-4">
                Correlativo 
                <br>
                <div>
                    <strong>{{ cheque.correlativo }} </strong>
                </div>
            </div>
            <div class="col-md-4">
                Monto 
                <br>
                <div>
                    <strong> {{ cheque.monto }}</strong>
                </div>
            </div>
            <div class="col-md-4">

            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
                Reporte 
                <br>
                <div>
                    <strong> {{ cheque.preFactGruaUsa.nombre | default('SD') }}</strong>
                </div>
            </div>
            <div class="col-md-4">
                Saldo a favor generado 
                <br>
                <div>
                    <strong> {{ cheque.saldoFavorGenerado }} </strong>
                </div>
                
            </div>
            <div class="col-md-4">
            
                Descripción
                <br>
                <div>
                    <strong>  {{ cheque.descripcionCheque }} </strong>
                </div>
            </div>
         </div>
    </div>

    <div class="alert alert-warning" role="alert">
        <p>OJO Una vez creado un informe tendrá 2 días para completarlo, luego dejará de ser una opción para asignar nuevos cheques</p>
        <p>Esto con el objetivo de que un informe no pueda ser modificado una vez que se termine su periodo de ingreso de datos</p>
    </div>